<a href="https://colab.research.google.com/github/Vethariel/Soluciones_Programacion_Computadores/blob/main/EjerciciosCiclosCadenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Ciclo while

factorial
https://www.youtube.com/watch?v=v59CTk3ji-s&list=PLs3IFJPw3G9KhF7BeGOItwoKKLD8e3Dwu&index=14

In [ ]:
def factorial(n):
  if n == 0:
    f = 1
  elif n == 1:
    f = 1
  else:
    f = n * factorial(n-1)
  return f
print(factorial(5))

120

Desarrollar un programa que imprima el cuadrado del número que el
usuario ingresa mientras que el número ingresado no sea negativo.

In [ ]:
def cuadrado_numero(n):
  return n**2
n=0
while n>=0:
  n = int(input("Ingrese un numero: "))
  cuadrado = cuadrado_numero(n)
  if n >= 0: print(f"El cuadrado de {n} es {cuadrado}")

Ingrese un numero: -1

Desarrollar un programa que dado un número entero positivo n
calcule e imprima (separados por espacios) n/2 si es par o 3n + 1 si es
impar. El programa debe repetir el proceso con el número resultado
de dicha operación mientras este sea diferente de 1. Por ejemplo para
el número 3 debe imprimir 10 5 16 8 4 2 1.

In [ ]:
def par_impar(n):
  resultado = 0
  if n%2==0:
    resultado = n//2
  else: 
    resultado = 3*n + 1
  return resultado

n = int(input("Ingrese un numero: "))

while n > 1:
  n = par_impar(n)
  print(n, end=" ")

Ingrese un numero: 9
28 14 7 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1

En 2022 el país A tendrá una población de 25 millones de habitantes
y el país B de 18.9 millones. Las tasas de crecimiento anual de la
población serán de 2% y 3% respectivamente. Desarrollar un
programa que imprima el año en que la población del país B superará
a la de A.

In [ ]:
A = 25000000
B = 18900000
anno = 2022
while B<A:
  A+=A*0.02
  B+=B*0.03
  anno+=1
print(f"En el anno {anno} el pais B superara a la poblacion del pais A con {round(B)} y {round(A)} habitantes respectivamente")

En el anno 2051 el pais B superara a la poblacion del pais A con 44539088 y 44396117 habitantes respectivamente

Diseñar una función que permita calcular el épsilon de la máquina. El
épsilon de máquina es el número decimal más pequeño que sumado
a 1 se puede representar de manera precisa en la máquina (que no es
redondeado), es decir, retorna un valor diferente de 1, éste da una idea
de la precisión o número de cifras reales que pueden ser almacenadas
en la máquina. La idea es realizar un ciclo en el cual se realiza la
operación 1 + ϵ para potencias de 2 desde ϵ = 2^0 y continuando con potencias decrecientes de 2 ( ϵ = 2^−1, ϵ = 2^−2, ϵ = 2^−3, ϵ = 2^−4, . . .)
hasta obtener que el resultado de la suma 1 + ϵ no se altere.

In [ ]:
E = 2
suma = 1+E
n=0
while suma>1:
  E = 2**n
  suma = E+1
  n-=1
print(E)

1.1102230246251565e-16

<h2>Ciclo for

Imprimir un listado con los números del 1 al 100 cada uno con su
respectivo cuadrado.

In [ ]:
for i in range(1, 101):
  print(i, i**2, sep=" - ", end=", ")

1 - 1, 2 - 4, 3 - 9, 4 - 16, 5 - 25, 6 - 36, 7 - 49, 8 - 64, 9 - 81, 10 - 100, 11 - 121, 12 - 144, 13 - 169, 14 - 196, 15 - 225, 16 - 256, 17 - 289, 18 - 324, 19 - 361, 20 - 400, 21 - 441, 22 - 484, 23 - 529, 24 - 576, 25 - 625, 26 - 676, 27 - 729, 28 - 784, 29 - 841, 30 - 900, 31 - 961, 32 - 1024, 33 - 1089, 34 - 1156, 35 - 1225, 36 - 1296, 37 - 1369, 38 - 1444, 39 - 1521, 40 - 1600, 41 - 1681, 42 - 1764, 43 - 1849, 44 - 1936, 45 - 2025, 46 - 2116, 47 - 2209, 48 - 2304, 49 - 2401, 50 - 2500, 51 - 2601, 52 - 2704, 53 - 2809, 54 - 2916, 55 - 3025, 56 - 3136, 57 - 3249, 58 - 3364, 59 - 3481, 60 - 3600, 61 - 3721, 62 - 3844, 63 - 3969, 64 - 4096, 65 - 4225, 66 - 4356, 67 - 4489, 68 - 4624, 69 - 4761, 70 - 4900, 71 - 5041, 72 - 5184, 73 - 5329, 74 - 5476, 75 - 5625, 76 - 5776, 77 - 5929, 78 - 6084, 79 - 6241, 80 - 6400, 81 - 6561, 82 - 6724, 83 - 6889, 84 - 7056, 85 - 7225, 86 - 7396, 87 - 7569, 88 - 7744, 89 - 7921, 90 - 8100, 91 - 8281, 92 - 8464, 93 - 8649, 94 - 8836, 95 - 9025, 96 - 9216, 97 - 9409, 98 - 9604, 99 - 9801, 100 - 10000,

Imprimir un listado con los números impares desde 1 hasta 999 y
seguidamente otro listado con los números pares desde 2 hasta 1000.

In [ ]:
for i in range(1,1001):
  if i%2==0:  print(i, end = " ")
print("")
for i in range(1,1001):
  if i%2!=0:  print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400 402 404 406 408 410 412 414 416 418 420 422 424 426 428 430 432 434 436 438 440 442 444 446 448 450 452 454 456 458 460 462 464 466 468 470 472 474 476 478 480 482 484 486 488 490 492 494 496 498 500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550 552 554 556 558 560 562 564 566 568 570 572 574 576 578 580 582 584 586 588 590 592 594 596 598 600 602 604 606 608 610 612 614 616 618 620 622 624 626 628 630 632 634 636 638 640 642 644 646 648 650 652 654 656 658 660 662 664 666 668 670 672 674 676 678 680 682 684 686 688 690 692 694 696 698 700 702 704 706 708 710 712 714 716 718 720 722 724 726 728 730 732 734 736 738 740 742 744 746 748 750 752 754 756 758 760 762 764 766 768 770 772 774 776 778 780 782 784 786 788 790 792 794 796 798 800 802 804 806 808 810 812 814 816 818 820 822 824 826 828 830 832 834 836 838 840 842 844 846 848 850 852 854 856 858 860 862 864 866 868 870 872 874 876 878 880 882 884 886 888 890 892 894 896 898 900 902 904 906 908 910 912 914 916 918 920 922 924 926 928 930 932 934 936 938 940 942 944 946 948 950 952 954 956 958 960 962 964 966 968 970 972 974 976 978 980 982 984 986 988 990 992 994 996 998 1000
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551 553 555 557 559 561 563 565 567 569 571 573 575 577 579 581 583 585 587 589 591 593 595 597 599 601 603 605 607 609 611 613 615 617 619 621 623 625 627 629 631 633 635 637 639 641 643 645 647 649 651 653 655 657 659 661 663 665 667 669 671 673 675 677 679 681 683 685 687 689 691 693 695 697 699 701 703 705 707 709 711 713 715 717 719 721 723 725 727 729 731 733 735 737 739 741 743 745 747 749 751 753 755 757 759 761 763 765 767 769 771 773 775 777 779 781 783 785 787 789 791 793 795 797 799 801 803 805 807 809 811 813 815 817 819 821 823 825 827 829 831 833 835 837 839 841 843 845 847 849 851 853 855 857 859 861 863 865 867 869 871 873 875 877 879 881 883 885 887 889 891 893 895 897 899 901 903 905 907 909 911 913 915 917 919 921 923 925 927 929 931 933 935 937 939 941 943 945 947 949 951 953 955 957 959 961 963 965 967 969 971 973 975 977 979 981 983 985 987 989 991 993 995 997 999

Imprimir los números pares en forma descendente hasta 2 que son
menores o iguales a un número natural n ≥ 2 dado.

In [ ]:
n = int(input("Ingrese un numero: "))
for i in range(n,1,-1):
  if i%2==0:
    print(i, end=" ")
print("")
[i for i in range(n,1,-1) if i%2==0]

Ingrese un numero: 10
10 8 6 4 2

[10, 8, 6, 4, 2]

Imprimir los números de 1 hasta un número natural n dado, cada uno
con su respectivo factorial.

In [ ]:
n = int(input("Ingrese un numero: "))
f = 1
for i in range(1,n+1):
  f*=i
  print(i, f, sep=" - ", end =", ")

Ingrese un numero: 10
1 - 1, 2 - 2, 3 - 6, 4 - 24, 5 - 120, 6 - 720, 7 - 5040, 8 - 40320, 9 - 362880, 10 - 3628800,

Calcular el valor de 2 elevado a la potencia n.

In [ ]:
n = int(input("Ingrese un numero: "))
e = 1
for i in range(n):
  e*=2
print(e)

Ingrese un numero: 3
8

Leer un número natural n, leer otro dato de tipo real x y calcular x^n.

In [ ]:
n = int(input("Ingrese un numero: "))
x = float(input("Ingrese otro numero: "))
e = 1
for i in range(n):
  e=e*x
print(e)

Ingrese un numero: 3
Ingrese otro numero: 3
3.0
9.0
27.0
27.0

Diseñe un programa que muestre las tablas de multiplicar del 1 al 9.

In [ ]:
for i in range(1,10):
  print(f"Tabla de multiplicar del {i}\n")
  for j in range(1, 10):
    print(f"{i} x {j} = {i*j}")
  print("")

Diseñar una función que permita calcular una aproximación de la función exponencial alrededor de 0 para cualquier valor x ∈ R, utilizando los primeros n términos de la serie de Maclaurin

\begin{gather}
exp(x,n)\approx \sum_{i=0}^{n}\frac{x^{^{i}}}{i!}
\end{gather}

In [ ]:
def serie_maclaurin(n, x):
  serie = 0
  for i in range(n+1):
    serie+=x**i/factorial(i)
    print(serie)
  return serie
n = int(input("Ingrese un numero: "))
x = float(input("Ingrese otro numero: "))
serie_maclaurin(n, x)

Ingrese un numero: 25
Ingrese otro numero: 1
1.0
2.0
2.5
2.6666666666666665
2.708333333333333
2.7166666666666663
2.7180555555555554
2.7182539682539684
2.71827876984127
2.7182815255731922
2.7182818011463845
2.718281826198493
2.7182818282861687
2.7182818284467594
2.71828182845823
2.718281828458995
2.718281828459043
2.7182818284590455
2.7182818284590455
2.7182818284590455
2.7182818284590455
2.7182818284590455
2.7182818284590455
2.7182818284590455
2.7182818284590455
2.7182818284590455

2.7182818284590455

Diseñar una función que permita calcular una aproximación de la
función seno alrededor de 0 para cualquier valor x ∈ R (x dado en
radianes), utilizando los primeros n términos de la serie de Maclaurin

\begin{gather}
sin(x,n)\approx \sum_{i=0}^{n}\frac{(-1)^{^{i}}x^{2i+1}}{(2i+1)!}
\end{gather}

In [ ]:
from math import pi
def serie_maclaurin(n, x):
  serie = 0
  f=1
  for i in range(n+1):
    numerador = (-1)**i * x**(2*i+1)
    denominador = factorial(2*i+1)
    serie+=numerador/denominador
  return serie
n = int(input("Ingrese un numero: "))
x = float(input("Ingrese otro numero: "))*pi
serie_maclaurin(n, x)

Ingrese un numero: 20
Ingrese otro numero: 0.25

0.7071067811865475

Diseñar una función que permita calcular una aproximación de la
función coseno alrededor de 0 para cualquier valor x ∈ R (x dado en
radianes), utilizando los primeros n términos de la serie de Maclaurin
\begin{gather}
cos(x,n)\approx \sum_{i=0}^{n}\frac{(-1)^{^{i}}x^{2i}}{(2i)!}
\end{gather}

In [ ]:
from math import pi
def serie_maclaurin(n, x):
  serie = 0
  f=1
  for i in range(n+1):
    numerador = ((-1)**i) * (x**(2*i))
    denominador = factorial(2*i)
    serie+=numerador/denominador
  return serie
n = int(input("Ingrese un numero: "))
x = float(input("Ingrese otro numero: "))*pi
serie_maclaurin(n, x)

Ingrese un numero: 20
Ingrese otro numero: 1

-1.0000000000000002

Diseñar una función que permita calcular una aproximación de la
función logaritmo natural alrededor de 0 para cualquier valor x ∈ R
+, utilizando los primeros n términos de la serie de Maclaurin

\begin{gather}
ln(x,n)\approx \sum_{i=0}^{n}\frac{1}{2i+1}\left (\frac{x^{2}-1}{x^{2}+1}  \right )^{2i+1}
\end{gather}

In [ ]:
def serie_maclaurin(n, x):
  serie = 0
  f=1
  for i in range(n+1):
    f1 = 2/(2*i+1)
    f2 = ((x**2-1)/(x**2+1))**(2*i+1)
    serie+=f1*f2
  return serie
n = int(input("Ingrese un numero: "))
x = float(input("Ingrese otro numero: "))
serie_maclaurin(n, x)

Ingrese un numero: 200
Ingrese otro numero: 2

1.3862943611198912

Diseñar una función que permita calcular una aproximación de la
función arco tangente para cualquier valor x ∈ \[−1, 1], utilizando los
primeros n términos de la serie de Maclaurin (al evaluar esta función
el resultado que se obtiene está expresado en radianes)
\begin{gather}
arctan(x,n)\approx \sum_{i=0}^{n}\frac{(-1)^{^{i}}x^{2i+1}}{(2i+1)}
\end{gather}

In [ ]:
def serie_maclaurin(n, x):
  serie = 0
  f=1
  for i in range(n+1):
    numerador = (-1)**i * x**(2*i+1)
    denominador = 2*i+1
    serie+=numerador/denominador
  return serie
n = int(input("Ingrese un numero: "))
x = float(input("Ingrese otro numero: "))
serie_maclaurin(n, x)

Ingrese un numero: 1
Ingrese otro numero: 1

0.6666666666666667

<h2>Cadenas

Desarrollar un algoritmo que reciba dos cadenas de caracteres y
determine si la primera está incluida en la segunda. Se dice que una
cadena está incluida en otra, si todos los caracteres (con repeticiones)
de la cadena está en la segunda cadena sin tener en cuenta el orden
de los caracteres.

In [ ]:
def cadena_incluida(s1, s2):
  l2 = list(s2)
  extra = []
  for i in s1:
    if i in l2:
      l2.remove(i)
    else:
      extra.append(i)
  print(f"La cadena \"{s1}\"", "si" if not extra else "no", f"esta incluida en la cadena \"{s2}\"", end=" ")
  for i in set(extra):
    print(f', hace falta {extra.count(i)} "{i}"', end = " ")
  print(".")
s1= "prosa"
s2= "la de idiomas"
cadena_incluida(s1, s2)
s1= "pepito"
s2= "un pedazo de tierra"
cadena_incluida(s1, s2)
s1= "pepito"
s2= "tijeras o papel"
cadena_incluida(s1, s2)

La cadena "prosa" no esta incluida en la cadena "la de idiomas" , hace falta 1 "p" , hace falta 1 "r" .
La cadena "pepito" no esta incluida en la cadena "un pedazo de tierra" , hace falta 1 "p" .
La cadena "pepito" si esta incluida en la cadena "tijeras o papel" .

Desarrollar un algoritmo que invierta una cadena de caracteres.

In [ ]:
def invertir_cadena(s):
  return s[::-1]
s = "Hola mundo"
invertir_cadena(s)

'odnum aloH'

In [ ]:
def invertir_cadena2(s):
  s2 = ""
  for c in s:
    s2 = c + s2
  return s2
s = "Hola mundo"
invertir_cadena2(s)

'odnum aloH'

Desarrollar un algoritmo que determine si una cadena de caracteres es
palíndrome. Una cadena se dice palíndrome si al invertirla es igual a
ella misma.

In [ ]:
def cadena_palindrome(s):
  return s == invertir_cadena(s)
s = "ala"
print(f'"{s}"', "" if cadena_palindrome(s) else "NO","es palindrome")
s = "amor a roma"
print(f'"{s}"', "" if cadena_palindrome(s) else "NO","es palindrome")
s = "anita atina"
print(f'"{s}"', "" if cadena_palindrome(s) else "NO","es palindrome")
s = "al sur de Colombia"
print(f'"{s}"', "" if cadena_palindrome(s) else "NO","es palindrome")
s = "anula las alas a la luna"
print(f'"{s}"', "" if cadena_palindrome(s) else "NO","es palindrome")
s = "la tele letal"
print(f'"{s}"', "" if cadena_palindrome(s) else "NO","es palindrome")

"ala"  es palindrome
"amor a roma"  es palindrome
"anita atina"  es palindrome
"al sur de Colombia" NO es palindrome
"anula las alas a la luna" NO es palindrome
"la tele letal" NO es palindrome

Desarrollar un algoritmo que determina si una cadena de caracteres es
frase palíndrome, esto es, si es palíndrome al eliminarle espacios,
tíldes, signos de puntuación y al considerar mayúsculas = minúsculas.

In [ ]:
def frase_palindrome(s):
  s = s.lower()
  s = s.replace("á","a")
  s = s.replace("é","e")
  s = s.replace("í","i")
  s = s.replace("ó","o")
  s = s.replace("ú","u")
  s = s.replace(" ","")
  s = s.replace(".","")
  s = s.replace(",","")
  print(s)
  return s == invertir_cadena(s)

s = "Anula las alas a la luna"
print(f'"{s}"', "" if frase_palindrome(s) else "NO","es frase palindrome")
s = "Dábale arroz a la zorra el abad"
print(f'"{s}"', "" if frase_palindrome(s) else "NO","es frase palindrome")
s = "la tele letal"
print(f'"{s}"', "" if frase_palindrome(s) else "NO","es frase palindrome")
s = "arriba la birra"
print(f'"{s}"', "" if frase_palindrome(s) else "NO","es frase palindrome")
s = "Isaac no ronca así"
print(f'"{s}"', "" if frase_palindrome(s) else "NO","es frase palindrome")
s = "sometamos o matemos"
print(f'"{s}"', "" if frase_palindrome(s) else "NO","es frase palindrome")
s = "Anita, la latina"
print(f'"{s}"', "" if frase_palindrome(s) else "NO","es frase palindrome")

anulalasalasalaluna
"Anula las alas a la luna"  es frase palindrome
dabalearrozalazorraelabad
"Dábale arroz a la zorra el abad"  es frase palindrome
lateleletal
"la tele letal"  es frase palindrome
arribalabirra
"arriba la birra"  es frase palindrome
isaacnoroncaasi
"Isaac no ronca así"  es frase palindrome
sometamosomatemos
"sometamos o matemos"  es frase palindrome
anitalalatina
"Anita, la latina"  es frase palindrome

In [ ]:
memo={}
def fibo(n):
    if n == 1:
        return 1
    elif n == 0:
        return 0
    if n not in memo:
        memo[n] = fibo(n-2) + fibo(n-1)
    return memo[n]
fibo(1000)

43466557686937456435688527675040625802564660517371780402481729089536555417949051890403879840079255169295922593080322634775209689623239873322471161642996440906533187938298969649928516003704476137795166849228875

In [ ]:
def fibo(n):
    if n == 1:
        return 1
    elif n == 0:
        return 0
    return fibo(n-2) + fibo(n-1)
fibo(10)

55